/* Formulario.css */

.formCorpo {
   display: flex;
   justify-content: center;
   margin-top: 7rem;
    z-index: -1; /* Ensure the Typeform is behind the navbar */
    width: 100%;
  }
  
  .navv {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; /* Keep the navbar above the Typeform */
  }
  
  /* ... other styles ... */
  .formWrapper {
    height: 100%;
  }  