@import url('https://fonts.googleapis.com/css2?family=Borel&family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Staatliches&display=swap');


:root{
    /* background: #00113d no-repeat ; */
    z-index: -1000;
    overflow-x: hidden;
}

.blueblabgg{
    background-color: #081B4B;
}

.bluewbgg{
    background-color: #B9D6FF;
}

