
:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

.blueblabgg{
  background-color: #00113D;
}

.bluewbgg{
  background-color: #B9D6FF;
}


.contSize  {
  max-width: 124rem;
  
  padding: 4rem 1rem;
  margin: 0 auto;
  
}

.heading2 {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: #f5f5f5;
  gap: 0;
}

.swiper_container {
  height: 37rem;
  padding: 2rem 0;
  position: relative;
  gap: 0;
}

.swiper-slide {

  width: 27rem;
  height: 27rem;
  position: relative;
  display: flex !important;
  justify-content: center !important;
}

.swiper-slide img {
  width: 18rem;
  height: 28rem;
  border-radius: 2rem;
  object-fit: cover;
  max-width: 18rem !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}


.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}
.swiper-pagination .swiper-pagination-bullet-active{
  background: rgb(229, 81, 81) !important;
}

.swiper-pagination {
  position: relative;
  left: 42%;
  width: 100% !important;
  height: 100% !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background-color: #828282;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}




@media (max-width: 500px) {
  .swiper-slide img {
    width: 12rem;
    height: 22rem;
  }

  .swiper_container {
    height: 27rem;
  }
}



@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
